.contact{
    background-color: var(--clr-primary-2);
}
.contact-title{
    color: var(--clr-white);
}
.contact-title p {
    color: var(--clr-white);
}
.contact-form{
    display: flex;
}
.form-control{
    flex: 1 1 auto;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: var(--clr-grey-2);
}
.btn-submit, .form-control{
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border: transparent;
}
.form-control::placeholder{
    font-family: var(--ff-primary);
    color : inherit;
}
.btn-submit{
    font-family: var(--ff-primary);
    background-color: var(--clr-primary-3);
    color: var(--clr-white);
    cursor: pointer;
    transition: var(--transition);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.btn-submit:hover{
    background-color: var(--clr-primary-1);
    color: var(--clr-white);
}
