@import url('../css/_variables.css');
@import url('./_font-family.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--ff-primary), 'sans-serif' ;
    background-color: var(--clr-white) ;
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
h1, h2, h3, h4 {
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.25rem;
}
h4{
    font-size: 0.875rem;
}
p{
    margin-bottom: 1.25rem;
    color: var(--clr-grey-2);
}
.btn{
    background-color: var(--clr-primary-2);
    color: var(--clr-white);
    padding: 0.375rem 0.75rem;
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);

}
.btn:hover{
    color: var(--clr-primary-1);
    background-color: var(--clr-primary-3);
}
/*
===================================
about us --> global css
==================================
*/
.section{
    padding: 5rem 0;
}
.section-title{
    text-align: center;
    margin-bottom: 4rem;
}
.section-title span{
    color: var(--clr-primary-2);
}
.section-center{
    width: 95vw;
    margin: 0 auto;

}