@import url('../css/_variables.css');
/*
==================
Hero
=================
*/
.hero{
    min-height: 100vh;
    background-color: var(--clr-primary-2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-banner{
    padding: 0 3rem;
    text-align: center;
}
.hero-banner h1{
    color: var(--clr-white);
    margin-bottom: 3rem;
}
.hero-banner p {
    max-width: 35rem;
    color: var(--clr-white);
    margin-bottom: 2rem;
}
.hero-banner .btn-hero {
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    background-color: var(--clr-white);
    color: var(--clr-primary-2);
}
.btn-hero:hover{
    background-color: transparent;
    color: var(--clr-white);
    border-color: var(--clr-white);
}